body {
    height: 100vh;
}

.header {
    display:block;
    height: 30%;
    background-color: #1F2937;
}

.logo-links {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width:100%;
}

h3 {
    margin-left: 10px;
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    display:flex;
    flex-direction: row;
    list-style-type: none;
}

ul li {
    margin: 0px 10px 0px 10px;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.hero {
    display:flex;
    flex-direction: row;
}

h1 {
    font-size:48px;
    font-weight:bolder;
    color: #F9FAF8;
}

p {
    font-size: 18px;
    color: #E5E7EB
}

button {
    background-color: #3882F6;
    color: #E5E7EB;
    font-size: 18px;
    border-radius:6px;
    padding: 5px 20px 5px 20px;
}