body {
    height: 100vh;
    min-width: 964px;
}

.header {
    display:block;
    height: 50%;
    background-color: #1F2937;
}

.logo-links {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

h3 {
    margin-left: 10px;
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    display:flex;
    flex-direction: row;
    list-style-type: none;
}

ul li {
    margin: 0px 10px 0px 10px;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.hero {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px 10px 10px 10px;
}

h1 {
    font-size:48px;
    font-weight:bolder;
    color: #F9FAF8;
}

.header-image p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #E5E7EB;
    margin: 50px;
    background-color: #3882F6;
    width: 400px;
    height: 230px;
}

button {
    background-color: #3882F6;
    color: #E5E7EB;
    font-size: 18px;
    border-radius:6px;
    padding: 5px 20px 5px 20px;
}

.hero div {
    width: 400px;
}

#header-image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cornflowerblue;
    margin-top: 40px;
    margin-left: 80px;
    height: 250px;
    width: 500px;
}

div h2 {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.informationsection{
    height: 50%;
    width: 100%;
}

.information {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    height: 200px;
    width: 100%;
}

.information > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 200px;
    margin-left: 20px;
    margin-right: 20px;
}

.infoimage {
    height: 150px;
    width: 150px;
    border-width: 3px;
    border-color: #3882F6;
    border-style: solid;
    border-radius: 8px;
    }

#title-descriptor {
    color: #E5E7EB;
    font-size: 18px;
    text-align: center;
    text-wrap: wrap;
}

.information p {
    text-align: center;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 100%;
    background-color:#E5E7EB;
}

.quotetext {
    width: 50%;
    text-align: center;
    font-size: 36px;
    font-style: italic;
}

.quoteauthor {
    width: 50%;
    text-align: right;
    font-size: 32px;
    font-weight: bold;
}

.calltoaction {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    width: 100%;
}

.actionbox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #3882F6;
    border-radius: 20px;
    width: 50%;
}

.actionbox h3 {
    font-size: 32px;
    margin: 40px 0px 0px 0px;
}

.actionbox p {
    font-size: 18px;
    margin:0px 0px 40px 0px;
    color:#E5E7EB;
}

#actionbtn {
    background-color: #3882F6;
    border: 2px solid #E5E7EB;
    font-size: 24px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
    background-color: #1F2937;
}

.footer p {
    color:#E5E7EB;
}